<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [ ]:
# pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
%load_ext sql

In [1]:
import sqlalchemy

import mysql.connector
mydb = mysql.connector.connect(host="localhost", user="root", password="jesus", database="georgedb")
mycursor = mydb.cursor()
con=sqlalchemy.create_engine("mysql+pymysql://root:jesus@localhost:3306/georgedb")

In [ ]:
!pip install -q pandas==1.1.5

In [ ]:
%sql sqlite:///my_data1.db

In [3]:
import pandas as pd

df = pd.read_csv("Spacex.csv")
# df.columns
# df.rename(columns={'Booster_Version':'BoosterVersion','Launch_Site':'LaunchSite','PAYLOAD_MASS__KG_':'PAYLOADMASSKG','Mission_Outcome':'MissionOutcome', 'Landing _Outcome': 'LandingOutcome'},inplace=True)
# df
# df.to_sql("spacextbl", con, if_exists='replace', index=False,method="multi")

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [4]:
sql1="SELECT DISTINCT(LaunchSite) FROM spacextbl"
df=pd.read_sql_query(sql1,con)
df

     LaunchSite
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [5]:
sql="SELECT * FROM spacextbl WHERE LaunchSite LIKE '%CCA' LIMIT 5"
mycursor.execute(sql)
result=mycursor.fetchall()
result

,Date,Time (UTC),BoosterVersion,LaunchSite,Payload,PAYLOADMASSKG,Orbit,Customer,MissionOutcome,LandingOutcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [5]:
sql3="SELECT SUM(PAYLOADMASSKG) AS TOTAL FROM spacextbl WHERE Customer='NASA (CRS)'"
df1=pd.read_sql_query(sql3,con)
df1

     TOTAL
0  45596.0

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [7]:
sql4="SELECT AVG(PAYLOADMASSKG) AS Average_payload_mass FROM spacextbl WHERE BoosterVersion='F9 v1.1'"
df2=pd.read_sql_query(sql4,con)
df2

   Average_payload_mass
0                2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [8]:
sql5="SELECT DATE FROM spacextbl WHERE LandingOutcome ='Success (ground pad)' "
df3=pd.read_sql_query(sql5,con)
df3

         DATE
0  22-12-2015
1  18-07-2016
2  19-02-2017
3  01-05-2017
4  03-06-2017
5  14-08-2017
6  07-09-2017
7  15-12-2017
8  08-01-2018

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [23]:
sql6="""SELECT BoosterVersion FROM spacextbl WHERE LandingOutcome ='Success (drone ship)'
        AND PAYLOADMASSKG >4000 AND PAYLOADMASSKG <6000 """
df4=pd.read_sql_query(sql6,con)
df4

   BoosterVersion
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [53]:
sql7="SELECT MissionOutcome, COUNT(DISTINCT MissionOutcome)AS Total FROM spacextbl GROUP BY MissionOutcome  "
df5=pd.read_sql_query(sqll,con)
df5

                     MissionOutcome  Total
0               Failure (in flight)      1
1                           Success     99
2  Success (payload status unclear)      1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [58]:
sql8="SELECT BoosterVersion FROM spacextbl WHERE PAYLOADMASSKG =(SELECT MAX(PAYLOADMASSKG) FROM spacextbl) "
df6=pd.read_sql_query(sql8,con)
df6

    BoosterVersion
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [34]:
import calendar
sqlit="SELECT * FROM spacextbl"
data=pd.read_sql_query(sqlit,con)
data=data[(data.Date.str.contains('2015'))& (data.LandingOutcome.str.contains('Failure'))]
data['Date']=pd.to_datetime(data['Date'])
data['Month']=data['Date'].dt.month
data['Month_name']=data['Month'].apply(lambda x:calendar.month_abbr[x])
data[['Month_name','Date','BoosterVersion','LandingOutcome','LaunchSite']]

C:\Users\User\AppData\Local\Temp\ipykernel_13376\548243056.py:5: UserWarning: Parsing '14-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data['Date']=pd.to_datetime(data['Date'])

   Month_name       Date BoosterVersion        LandingOutcome   LaunchSite
13        Oct 2015-10-01  F9 v1.1 B1012  Failure (drone ship)  CCAFS LC-40
16        Apr 2015-04-14  F9 v1.1 B1015  Failure (drone ship)  CCAFS LC-40

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [19]:
sqlit="SELECT * FROM spacextbl"
data1=pd.read_sql_query(sqlit,con)

data1['Date']=pd.to_datetime(data1['Date'])
data1=data1.query("Date>='04-06-2010' & Date<='20-03-2017'")
dataf=data1.groupby(['LandingOutcome']).agg({'LandingOutcome':'count'})
dataf.rename(columns={'LandingOutcome':'COUNT'},inplace=True)
dataf.reset_index(inplace=True)
dataf.sort_values('COUNT',ascending=False,inplace=True)
dataf

C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '22-05-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '29-09-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '18-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '14-07-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '21-09-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '14-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '27-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '28-06-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '22-12-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '17-01-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '27-05-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '15-06-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '18-07-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '14-08-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '14-01-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '19-02-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '16-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '30-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '15-05-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '23-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '25-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '14-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '24-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '30-10-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '15-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '23-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '31-01-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '22-02-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '30-03-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '18-04-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '22-05-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '29-06-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '22-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '25-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '15-11-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '23-12-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '22-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '24-05-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '25-07-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '17-12-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '19-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '29-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '17-02-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '18-03-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '22-04-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '30-05-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '13-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '30-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '20-07-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '18-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '30-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '18-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '24-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '16-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '21-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_6464\3714307855.py:4: UserWarning: Parsing '25-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  data1['Date']=pd.to_datetime(data1['Date'])
c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\computation\expr.py:538: UserWarning: Parsing '20-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._maybe_evaluate_binop(op, op_class, left, right)

           LandingOutcome  COUNT
3              No attempt     10
1    Failure (drone ship)      5
5    Success (drone ship)      5
6    Success (ground pad)      5
0      Controlled (ocean)      3
2     Failure (parachute)      2
7    Uncontrolled (ocean)      2
4  Precluded (drone ship)      1

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>